body{
  background-color: #F3F3F3 !important;
}

header{
  background-color: #037EF3 !important;
}

footer{
  text-align: left;
  color: white;
  background-color: #037EF3 !important;
  position: fixed;
  left: 0;
  bottom: 0;

  padding-left: 50px;
  font-size: 10px;
  width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}
a:hover{
  background-color: #2e87da;

}
.navbar-brand{
  color: #FFF !important;
  font-family: 'Lato', cursive;
  text-align: left;
}

.ptr-container{
  margin-top: 32px;
}

.img-slide{
  margin: 24px;
}
.dash-item{
  height: 250px;
  padding-top: 10px;
  padding-bottom: 64px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 64px;
  margin-bottom: 64px;
  color: white;
  background-color: #2e87da;
  font-size: 15px;
  font-family: 'Lato';
}
.main{
  font-size: 20px;
  font-weight: bold;
}

.movie-img{
  height: 300px;
}

#step-ptr{
  color:#253858;
  font-family: 'Lato', cursive;
}
