body{
  background-color: #016163 !important;
}

.navbar-brand{
  color: #FFF !important;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.movie-slider{
  margin-top: 32px;
}

.img-slide{
  margin: 24px;
}

.movie-img{
  height: 300px;
}
